---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bfl3tch/little-esty-shop/commits?author=tvaroglu&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d1898602953b361165900a6ea38df2632ebe587a424e98bfbe9aa17b0329e9fb"
      Last-Modified:
      - Thu, 05 Aug 2021 16:23:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1635444733'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"9899ba1d7db6ff90d89c969b93f0f4c379349390","node_id":"MDY6Q29tbWl0Mzg5NzQ5Mzg3Ojk4OTliYTFkN2RiNmZmOTBkODljOTY5YjkzZjBmNGMzNzkzNDkzOTA=","commit":{"author":{"name":"Taylor
        Varoglu","email":"tava8398@colorado.edu","date":"2021-08-05T16:23:03Z"},"committer":{"name":"Taylor
        Varoglu","email":"tava8398@colorado.edu","date":"2021-08-05T16:23:03Z"},"message":"Fix
        broken unit test in API_spec","tree":{"sha":"949e5d85dc4f04576470c3dcafe4fc2474fab96f","url":"https://api.github.com/repos/bfl3tch/little-esty-shop/git/trees/949e5d85dc4f04576470c3dcafe4fc2474fab96f"},"url":"https://api.github.com/repos/bfl3tch/little-esty-shop/git/commits/9899ba1d7db6ff90d89c969b93f0f4c379349390","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/bfl3tch/little-esty-shop/commits/9899ba1d7db6ff90d89c969b93f0f4c379349390","html_url":"https://github.com/bfl3tch/little-esty-shop/commit/9899ba1d7db6ff90d89c969b93f0f4c379349390","comments_url":"https://api.github.com/repos/bfl3tch/little-esty-shop/commits/9899ba1d7db6ff90d89c969b93f0f4c379349390/comments","author":{"login":"tvaroglu","id":58891447,"node_id":"MDQ6VXNlcjU4ODkxNDQ3","avatar_url":"https://avatars.githubusercontent.com/u/58891447?v=4","gravatar_id":"","url":"https://api.github.com/users/tvaroglu","html_url":"https://github.com/tvaroglu","followers_url":"https://api.github.com/users/tvaroglu/followers","following_url":"https://api.github.com/users/tvaroglu/following{/other_user}","gists_url":"https://api.github.com/users/tvaroglu/gists{/gist_id}","starred_url":"https://api.github.com/users/tvaroglu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tvaroglu/subscriptions","organizations_url":"https://api.github.com/users/tvaroglu/orgs","repos_url":"https://api.github.com/users/tvaroglu/repos","events_url":"https://api.github.com/users/tvaroglu/events{/privacy}","received_events_url":"https://api.github.com/users/tvaroglu/received_events","type":"User","site_admin":false},"committer":{"login":"tvaroglu","id":58891447,"node_id":"MDQ6VXNlcjU4ODkxNDQ3","avatar_url":"https://avatars.githubusercontent.com/u/58891447?v=4","gravatar_id":"","url":"https://api.github.com/users/tvaroglu","html_url":"https://github.com/tvaroglu","followers_url":"https://api.github.com/users/tvaroglu/followers","following_url":"https://api.github.com/users/tvaroglu/following{/other_user}","gists_url":"https://api.github.com/users/tvaroglu/gists{/gist_id}","starred_url":"https://api.github.com/users/tvaroglu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tvaroglu/subscriptions","organizations_url":"https://api.github.com/users/tvaroglu/orgs","repos_url":"https://api.github.com/users/tvaroglu/repos","events_url":"https://api.github.com/users/tvaroglu/events{/privacy}","received_events_url":"https://api.github.com/users/tvaroglu/received_events","type":"User","site_admin":false},"parents":[{"sha":"5aedbd31816c6e636bf48276a73057dbf41d37e9","url":"https://api.github.com/repos/bfl3tch/little-esty-shop/commits/5aedbd31816c6e636bf48276a73057dbf41d37e9","html_url":"https://github.com/bfl3tch/little-esty-shop/commit/5aedbd31816c6e636bf48276a73057dbf41d37e9"}]},{"sha":"5aedbd31816c6e636bf48276a73057dbf41d37e9","node_id":"MDY6Q29tbWl0Mzg5NzQ5Mzg3OjVhZWRiZDMxODE2YzZlNjM2YmY0ODI3NmE3MzA1N2RiZjQxZDM3ZTk=","commit":{"author":{"name":"Taylor
        Varoglu","email":"tava8398@colorado.edu","da[...]
- request:
    method: get
    uri: https://api.github.com/repos/bfl3tch/little-esty-shop/commits?author=AbbottMichael&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b114cff93f5143747e6f758021887d0e848b803939e2566cf5d655a65a8c0bd"
      Last-Modified:
      - Thu, 05 Aug 2021 01:30:40 GMT
      X-Github-Media-Typ[...]
- request:
    method: get
    uri: https://api.github.com/repos/bfl3tch/little-esty-shop/commits?author=ElliotOlbright&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ccff5e8237caac1a6aab0866015ddea5fd95b98533bc669951a1134485bdbfe"
      Last-Modified:
      - Thu, 05 Aug 2021 03:27:55 GMT
      X-Github-Media-Ty[...]
- request:
    method: get
    uri: https://api.github.com/repos/bfl3tch/little-esty-shop/commits?author=bfl3tch&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d9faeb1b2d09713de2e01de0d326f913c747ad1bb2d6ca9d0b13ba02ce717aa"
      Last-Modified:
      - Wed, 11 Aug 2021 15:43:39 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/389749387/commits?author=bfl3tch&per_page=100&page=2>;
        rel="next", <https://api.github.com/repositories/389749387/commits?author=bfl3tch&per_page=100&page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1635444733'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"00ee[...]
