---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v1/Get/US/2021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 28 Oct 2021 17:40:32 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-01-01","localName":"New Year''s Day","name":"New Year''s
        Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"type":"Public"},{"date":"2021-01-18","localName":"Martin
        Luther King, Jr. Day","name":"Martin Luther King, Jr. Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"type":"Public"},{"date":"2021-01-20","localName":"Inauguration
        Day","name":"Inauguration Day","countryCode":"US","fixed":true,"global":false,"counties":["US-DC","US-LA","US-MD","US-VA"],"launchYear":null,"type":"Public"},{"date":"2021-02-15","localName":"Presidents
        Day","name":"Washi[...]
[...]
